@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  background: #eef6f6;
  font-family: 'Lato', Helvetica, sans-serif; }
  html .container .hero-banner img,
  body .container .hero-banner img {
    width: 100vw; }
  html .container .job-posting,
  body .container .job-posting {
    display: flex;
    margin: 4rem 6rem -2rem 6rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-left: 4px solid #5ba4a4;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); }
    html .container .job-posting:last-child,
    body .container .job-posting:last-child {
      margin-bottom: 2rem; }
    html .container .job-posting__logo-wrapper,
    body .container .job-posting__logo-wrapper {
      margin-top: 0.5rem;
      flex-shrink: 0; }
    html .container .job-posting__logo,
    body .container .job-posting__logo {
      height: 3rem;
      width: 3rem; }
    html .container .job-posting__content,
    body .container .job-posting__content {
      margin: 0; }
    html .container .job-posting__title,
    body .container .job-posting__title {
      margin-top: -10px;
      margin-left: 22px;
      padding: 0;
      color: #1a202c;
      font-size: 1.25rem; }
    html .container .job-posting__message,
    body .container .job-posting__message {
      margin-top: -15px;
      margin-left: 22px;
      color: #718096;
      font-size: 1rem; }
    html .container .job-posting__badges,
    body .container .job-posting__badges {
      display: flex;
      margin-left: 1.5rem;
      height: 60px;
      margin-top: -10px; }
    html .container .job-posting__company-title,
    body .container .job-posting__company-title {
      margin-right: 1rem;
      color: #5ba4a4;
      font-weight: bold; }
    html .container .job-posting__badge-green,
    body .container .job-posting__badge-green {
      color: white;
      font-size: 14px;
      margin-bottom: 22px;
      padding: 4px;
      border-radius: 15px;
      background-color: #5ba4a4;
      text-transform: uppercase;
      margin-right: 12px; }
    html .container .job-posting__badge-black,
    body .container .job-posting__badge-black {
      color: white;
      font-size: 14px;
      margin-bottom: 22px;
      padding: 4px;
      border-radius: 15px;
      background-color: #333;
      text-transform: uppercase; }
    html .container .job-posting__tags,
    body .container .job-posting__tags {
      padding: 0;
      margin-bottom: 3.5rem;
      margin-left: 5rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap; }
    html .container .job-posting__item,
    body .container .job-posting__item {
      background: #eef6f6;
      padding: 5px;
      margin: 5px;
      color: #5ba4a4;
      font-weight: bold;
      text-align: center; }
